 
 h1,h2,h3{
    text-align: center;
    font-size: 40px;
    direction: rtl;
 }
 a{
    color: black;
    text-align: center;
    font-size: 40px;
    direction: rtl;
    text-decoration:none;
 }
 h4{
    text-align: left;
    font-size: 30px;
    direction: rtl; 
 }